{% extends "base.html" %}

{% block content %}
    <div class="columns is-multiline is-mobile">
        <div class="column">
            <h3 class="title">Гаманець</h3>
            <div class="box">
                <p>Баланс: {{ current_user.wallet.balance }}</p>
                <p> {{ "Країна: " + country }}</p>
                <a class="button is-success is-rounded is-small" href="{{ url_for('main.edit_wallet') }}">Поповнити баланс</a>
            </div>
        </div>

        <div class="column">
            <h3 class="title">Створення заявки на продаж</h3>
            <div class="box">
                <a class="button is-success is-rounded" href="{{ url_for('main.add_electricity') }}">Створити заявку</a>
            </div>
        </div>

        <div class="column">
            <h3 class="title">Створення заявки на купівлю</h3>
            <div class="box">
                <a class="button is-success is-rounded" href="{{ url_for('main.buy_electricity') }}">Створити заявку</a>
            </div>
        </div>

        <div class="column">
            <h3 class="title">Пропозиції на ринку</h3>
            <div class="box">
                <a class="button is-success is-rounded" href="{{ url_for('main.view_electricity') }}">Переглянути пропозицій</a>
            </div>
        </div>
    </div>

    <div class="column is-three-quarter">
        <h3 class="title">Електроенергія</h3>
        {% include "electricitie_base.html" %}
    </div>
    <div class="column is-three-quarter">
        <h3 class="title">Операції</h3>
        {% include 'lots_base.html' %}
    </div>
{% endblock %}