{% extends "base.html" %}

{% block content %}
    <h3 class="title">Показник балансу: 10000000000000000000000000000000</h3>
    <div class="columns is-multiline is-mobile">
        <div class="column">
            <h3 class="title">Гаманець</h3>
            <div class="box">
                <p>Баланс: {{ current_user.wallet.balance }}</p>
                <a class="button is-success is-rounded is-small" href="{{ url_for('main.edit_wallet') }}">Поповнити баланс</a>
            </div>
        </div>

        <div class="column">
            <h3 class="title">Коефіціент продажу</h3>
            <div class="box">
                <p>Корисувач: {{ user_sale_coefficient }}</p>
                <p>Іноземний корисувач: {{ user_sale_foreign_coefficient }}</p>
                <a class="button is-success is-rounded is-small" href="{{ url_for('main.edit_user_sale_coefficient') }}">Змінити коефіціент</a>
            </div>
        </div>

        <div class="column">
            <h3 class="title">Коефіціент купівлі</h3>
            <div class="box">
                <p>Корисувач: {{ user_buy_coefficient }}</p>
                <p>Іноземний корисувач: {{ user_buy_foreign_coefficient }}</p>
                <a class="button is-success is-rounded is-small" href="{{ url_for('main.edit_user_buy_coefficient') }}">Змінити коефіціент</a>
            </div>
        </div>
    </div>

    <div class="columns is-multiline is-mobile">
        <div class="column">
            <h3 class="title">Пріорітет продажу</h3>
            <div class="box">
                <p>В першу чергу: {{ user_sale_priority }}</p>
                <a class="button is-success is-rounded is-small" href="{{ url_for('main.edit_user_sale_priority') }}">
                    Змінити пріорітет</a>
            </div>
        </div>

        <div class="column">
            <h3 class="title">Пріорітет купівлі</h3>
            <div class="box">
                <p>В останню чергу: {{ user_buy_priority }}</p>
                <a class="button is-success is-rounded is-small" href="{{ url_for('main.edit_user_buy_priority') }}">
                    Змінити пріорітет</a>
            </div>
        </div>

        <div class="column">
            <h3 class="title">Транзакції</h3>
            <div class="box">
                <a class="button is-success is-rounded" href="{{ url_for('main.lots') }}">Переглянути усі транзакції</a>
            </div>
        </div>
    </div>

{% endblock %}