{% extends "base.html" %}

{% block content %}
    <div class="columns is-multiline is-mobile">
        <div class="column">
            <h3 class="title">Гаманець</h3>
            <div class="box">
                <p>Баланс: {{ current_user.wallet.balance }}</p>
                <a class="button is-success is-rounded is-small" href="{{ url_for('main.edit_wallet') }}">Поповнити баланс</a>
            </div>
        </div>

        <div class="column">
            <h3 class="title">Ліміт зберігання електроенергії</h3>
            <div class="box">
                <p>Ліміт: {{ user_limit }}</p>
                <a class="button is-success is-rounded is-small" href="{{ url_for('main.edit_user_limit_coefficient') }}">Змінити ліміт</a>
            </div>
        </div>

        <div class="column">
            <h3 class="title">Мінімальний резерв електроенергії</h3>
            <div class="box">
                <p>Мін. резерв: {{ min_reserve }}</p>
                <a class="button is-success is-rounded is-small" href="{{ url_for('main.edit_min_reserve_coefficient') }}">Змінити резерв</a>
            </div>
        </div>

        <div class="column">
            <h3 class="title">Пропозиції на ринку</h3>
            <div class="box">
                <a class="button is-success is-rounded" href="{{ url_for('main.view_electricity') }}">Переглянути пропозицій</a>
            </div>
        </div>
    </div>
    {% include 'lots_base.html' %}
{% endblock %}